 #home{
    background-image: linear-gradient(red 0%,0%,rgba(0, 0, 0, 0.602) 100%),url('../img/intro-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
} 
*{
    font-family: 'Source Sans 3', sans-serif;
}
.navbar .navbar-brand{
    font-size: 30px;
}
#home p{
    font-size: 25px;
    font-style: italic;
    color: rgb(128, 128, 128);
}
#home h1{
    font-size: 80px;
}
#home button{
    
    background-color: rgb(5, 157, 213);
    color: white;
    border: 1px solid rgb(5, 157, 213);
}
#services .head .line{
    width: 170px;
    height: 3px;
    background-color: rgb(238, 238, 238);
}
#services .layer i{
    font-size: 50px;
    margin-bottom: 10px;
}
#services .layer span{
    color: gray;
    padding-bottom: 20px;
    
}
#services .head{
    padding-top: 40px;
}
.services-2{
    background-image: linear-gradient(red 0%,0%,rgba(0, 0, 0, 0.602) 100%),url('../img/clients-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
   
    
}
#features .headings-2 .line-2{
    width: 170px;
    height: 3px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
}
#features .headings-2 h1{
    margin-top: 30px;
}
#features .big-layer .layer-icon{
    font-size: 25px;
}
#features .big-layer .layer-head h6{
    font-size:25px ;
}
#features .big-layer .layer-head p{
    color: grey;
    font-size: 15px;
}
.features-2{
    background-image: linear-gradient(red 0%,0%,rgba(0, 0, 0, 0.602) 100%),url('../img/works-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
}
.features-2 p{
    font-style: italic;
    font-size: 23px;
    color: gray;
}
.features-2 h1{
    font-size: 50px;
}
#works  h1{
   padding-top: 250px;
}
#works img{
    padding-top: 150px;
}
#works button{
    background-color: white;
    color: rgb(5, 157, 213);
    transition: all 1.2s;
   
}
#works button:hover{
    background-color: rgb(5, 157, 213);
    color: white;
}
#Gallery .heading-g{
    background-image:  linear-gradient(red 0%,0%,rgba(0, 0, 0, 0.602) 100%),url('../img/gallery-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
}
#Gallery .heading-g p{
    font-style: italic;
    color: gray;
    font-size: 22px;

}
#Gallery .heading-g h1{
    font-size: 50px;
}
.Gallery-2{
    background-image: linear-gradient(red 0%,0%,rgba(0, 0, 0, 0.602) 100%),url('../img/team-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
}
.Gallery-2 p{
    color: grey;
    font-style: italic;
    font-size: 22px;
    font-weight: 800;
}
.Gallery-2 h1{
    font-size: 60px;
}
hr{
    width: 100px;
}
#contact i{
    font-size: 25px;
}
#footer{
    background-color: rgb(245, 245, 245);
}